*{
	padding: 0;
    margin: 0;
}

.cuerpoJuego{
    background-color: slategray;
}

strong{
    font-size: large;
}

.logoGame{
    width: 100%;
    height: 600px;
}

.irJuego{
    text-align: center;
    padding: 5px;
}

.botonIr{
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: blanchedalmond;
    border: 2px solid cyan;
    cursor: pointer;
}



#barraVida {
    position: relative;
    width: 100%;
    height: 20px;
    color: white;
}
#Barra {
    position: relativa2;
    width: 100%;
    height: 100%;
    background-color: green;   
    border: 2px solid white;
}

#barraJs {
    position: relativa2;
    width: 100%;
    height: 100%;
    background-color: green;   
    border: 2px solid white;
}
/*GUERRERO JAVASCRIPT*/

.Jstodo{
    position: relative;
}

.divJs{
    position: absolute;
}

.imagenJs{
    border: 1px solid black;
    margin: 5px;
    position: absolute;
    padding: 10px;
}

.guerrerosJs{
    text-align: center;
}

.guerreroClase{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background: white;
    cursor: pointer;
}

.guerreroMetodo{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background: white;
    cursor: pointer;
}

.magoEspecialJs{
    display: block;
}

.magoFor{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background: white;
    cursor: pointer;
    display: inline-block;
}


/*GUERRERO HTML*/

.divHtml{
    float: right;
    border: 1px solid black;
    margin-right: 450px;
    padding: 20px;
}

.imagenHtml{
    height: 150px;
    width: 150px;
}

.guerreroLi{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background: white;
    cursor: pointer;
}

.guerreroP{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background: white;
    cursor: pointer;
}

.magoDiv{
    border: 1px solid black; 
    margin: 5px;
    text-align: center;
    background: white; 
    cursor: pointer;
}

.especialLink{
    border: 1px solid black; 
    margin: 5px; 
    text-align: center;
    background: white;
    cursor: pointer;
}

/*GUERRERO CSS*/

.divCss{
    float: right; 
    border:1px solid black; 
    margin-right: 300px; 
    padding: 10px; 
    margin-top: 70px;
}

.imagenCss{
    height: 150px; 
    width: 150px;
}

.guerreroHeight{
    border: 1px solid black; 
    margin: 5px; 
    text-align: center;
    background: white; 
    cursor: pointer;
}

.guerreroWidth{
    border: 1px solid black; 
    margin: 5px; 
    text-align: center;
    background: white; 
    cursor: pointer;
}

.magoBorder{
    border: 1px solid black; 
    margin: 5px; 
    text-align: center;
    background: white; 
    cursor: pointer;
}

.especialInvisible{
    border: 1px solid black; 
    margin: 5px; 
    text-align: center;
    background: white; 
    cursor: pointer;
}

/*GUERRERO PHP*/

.divPhp{
    float: left; 
    border:1px solid black; 
    margin-left: 950px; 
    padding: 10px; 
    margin-top: -550px;
}

.imagenPhp{
    height: 150px; 
    width: 150px; 
    text-align: center;
}

.guerreroDolar{
    border: 1px solid black; 
    margin: 5px; 
    text-align: center;
    background: white; 
    cursor: pointer;
}

.guerreroGet{
    border: 1px solid black; 
    margin: 5px; 
    text-align: center;
    background: white; 
    cursor: pointer;
}

.magoIf{
    border: 1px solid black; 
    margin: 5px; 
    display: inline-block;  
    text-align: center;
    background: white; 
    cursor: pointer;
}

.especialEcho{
    border: 1px solid black; 
    margin: 5px; 
    display: inline-block; 
    text-align: center;
    background: white; 
    cursor: pointer;
}

/*ATAQUES*/

.atacado{
    color: white;
    font-size: 32px;
    display: none;
    text-align: center;
}